version: "3.2"
services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db
  
  db:
    image: mongo:7
    ports:
      - "8000:27017"
    volumes :
      - db_mongo:/data/db

  
volumes : 
  db_mongo:
