version: "3.2"
services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
  db:
    image: mongo:7
    ports:
      - "8000:27017"
